@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Regular'), url('fonts/Segoe UI.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Italic'), url('fonts/Segoe UI Italic.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold'), url('fonts/Segoe UI Bold.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe UI Bold Italic'), url('fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
  font-family: 'Segoe UI Regular', 'Roboto', serif;
  @apply text-gray-500 tracking-normal text-lg;
  background: #fff;
}

.title {
  @apply text-3xl font-bold tracking-widest uppercase text-orange-500 text-center;
}

.title-left {
  @apply text-3xl font-bold tracking-widest uppercase text-orange-500;
}

.btn {
  @apply py-4 px-8 rounded;
  @apply bg-orange-600 hover:bg-orange-700 focus:outline-none disabled:opacity-60;
  @apply text-white font-bold;
}

/* Inputs */
select {
  @apply pt-2 pb-2 px-5;
  @apply border border-gray-200 bg-white rounded-md;
  @apply text-sm text-black;
  @apply cursor-pointer;
  @apply focus:outline-none hover:border-blue-600;
}

.custom-input {
  @apply w-full max-h-12 pt-1 pb-1 px-5 text-black;
  @apply border border-gray-200 bg-white rounded-md;
  @apply focus:outline-none focus:border-blue-500;
}

.custom-textarea {
  @apply w-full pt-1 pb-1 px-5 text-black;
  @apply border border-gray-200 bg-white rounded-md;
  @apply focus:outline-none focus:border-blue-500;
}

